<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <h1>Create a Basketball Team!</h1>

    <form method="POST" action="/newteam">
      
      <p>Team Name: <input type="text" name="Team Name"></p>
      <p>Coach: <input type="text" name="Coach"></p>
      <p>Point Guard: <input type="text" name="Point Guard"></p>
      <p>Shooting Guard: <input type="text" name="sg"></p>
      <p>Small Forward: <input type="text" name="Small Forward"></p>
      <p>Power Forward: <input type="text" name="pf"></p>
      <p>Center: <input type="text" name="c"></p>
      
      <input type="Submit">
    </form>
 </body>
</html>


